.hero {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  background-image: url(https://surrealdb.com/static/img/home/honeycomb-bfde8f85a7735dc30620c17cbfe50a7f.png);
  background-position: -10% 110%;
  background-size: 90%;
  background-repeat: no-repeat;

  .hero_content {
    width: $width_center;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hero_left {
      .hero_title {
        margin-bottom: 1.5rem;
        @include font_title_lg;
        max-width: 25ch;
      }
      .hero_subtitle {
        margin-bottom: 1.5rem;
        @include font_title_sm;
      }
      .hero_description {
        margin-bottom: 1.5rem;
        @include font_body_lg;
        color: $color_gray_800;
        max-width: 80ch;
      }
      .hero_ctas {
        display: flex;
        align-items: center;
        gap: 2rem;
        @include font_body_lg;
      }
    }
    .hero_right {
      display: flex;
      width: 342px;
      img {
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }
  }
}
